body {
  background-color: #dbdce5;
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 0H0v36h36V0zM15.126 2H2v13.126c.367.094.714.24 1.032.428L15.554 3.032c-.188-.318-.334-.665-.428-1.032zM18 4.874V18H4.874c-.094-.367-.24-.714-.428-1.032L16.968 4.446c.318.188.665.334 1.032.428zM22.874 2h11.712L20 16.586V4.874c1.406-.362 2.512-1.468 2.874-2.874zm10.252 18H20v13.126c.367.094.714.24 1.032.428l12.522-12.522c-.188-.318-.334-.665-.428-1.032zM36 22.874V36H22.874c-.094-.367-.24-.714-.428-1.032l12.522-12.522c.318.188.665.334 1.032.428zm0-7.748V3.414L21.414 18h11.712c.362-1.406 1.468-2.512 2.874-2.874zm-18 18V21.414L3.414 36h11.712c.362-1.406 1.468-2.512 2.874-2.874zM4.874 20h11.712L2 34.586V22.874c1.406-.362 2.512-1.468 2.874-2.874z' fill='%2392a2ac' fill-opacity='0.41' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.container {
  display: grid;
  grid-template-columns: auto 360px 40px 600px auto;
  grid-template-rows: 15% 600px auto;
  grid-template-areas:
    ". header header header ."
    ". main . squares ."
    ". colorWells colorWells colorWells ."
    ". footer footer footer .";
  column-gap: 10px;
  row-gap: 10px;
  justify-items: center;
  font-family: "Reenie Beanie", cursive;
}

.header {
  grid-area: header;
  font-family: "Michroma", sans-serif;
  font-size: 3em;
  line-height: 3em;
}

.main {
  grid-area: main;
  width: 100%;
  background-color: none;
  font-size: 1.25em;
}

.squares {
  grid-area: squares;
  display: grid;
  border: 1px gray solid;
  width: 100%;
  height: 100%;
  background-color: white;
}

.colorWells {
  grid-area: colorWells;
  font-size: 1.25em;
  height: 150px;
  width: 100%;
}

.footer {
  grid-area: footer;
}

.cell {
  border: 1px solid #cad5db;
  width: 100%;
  height: 100%;
  background: var(--cell-background-color);
}

div.start {
  margin: 15px auto 0 auto;
  width: 100%;
  text-align: center;
}

.start-button {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background: #e6e6e6;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.15s ease 0s;
}

.start-button:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  cursor: pointer;
  /* transition: all 0.4s ease 0s; */
  transition: transform 0.15s linear;
  transform: scale(1.15);
  position: relative;
  z-index: 5;
}

/* Post-It Note Effect found at https://code.tutsplus.com/tutorials/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934 */
ul,
li {
  list-style: none;
}

ul {
  overflow: hidden;
  width: 100%;
  padding: 0;
}

ul.setup {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 90%;
}

ul.colorWells {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

a.setup {
  margin: 1em;
  font-size: 125%;
  /* direction: rtl; */
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  /* vertical-align: middle; */
  color: #000;
  background: #ffc;
  display: block;
  height: 2em;
  width: 8em;
  padding: 1em;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
}

a.colorWells {
  margin: 1em;
  font-size: 100%;
  text-decoration: none;
  color: #000;
  background: #ccf;
  display: block;
  height: 1.3em;
  width: 8em;
  padding: 1em;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
  text-align: center;
}

ul li:nth-child(even) a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
}
ul li:nth-child(3n) a {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

ul li a:hover,
ul li a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

/* Shape Divider */
.custom-shape-divider-bottom-1602788252 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1602788252 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 78px;
}

.custom-shape-divider-bottom-1602788252 .shape-fill {
  fill: #ffffff;
}
